body {
  font-family: 'Raleway', sans-serif;
  background-color: #EEE;
  text-align: center;
  margin: 150px auto;

}

img {
  width: 10%;
  margin-bottom: 50px;
}

h2 {
  margin: auto;
  width: 80%;
  font-size: 25px;
}
